
html{
  scroll-behavior: smooth;
}


body{
  background-color: #242331;
  color: #fff; 
}

.animated{
  visibility: hidden;
  opacity: 1; /* Initially hidden */
   /* Positioned slightly below */
  transition: opacity 1s ease, transform 1s ease;
  margin-top: 0px;
  
}


.btn-dark {
  background-color: #242331;
  color: #ccc;
  border: 1px solid #676767;
}

.btn-dark:hover {
  background-color: #242331;
  color: #ccc;
  border: 1px solid #676767;
}

.contactForm{
  width: 50%;
  margin: auto;
  margin-top: 100px;
}


.contactForm .form-control {
  background-color: #242331;  /* Dark background */
  color: #fff;  /* Light text */
  border: 1px solid #676767; /* Slightly lighter border */
}

.contactForm .form-control:focus {
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.2), /* Soft dark shadow */
    0 4px 8px rgba(0, 0, 0, 0.15), /* Mid shadow */
    0 8px 16px rgba(0, 0, 0, 0.1) /* Custom shadow */
}

.contactForm .form-control::placeholder {
  color: #ccc;  /* Light placeholder text */
}




.header{
  height: 100%; /* Matches the header's height */
  width: 100vw; /* Maintains the image's aspect ratio */
  object-fit: cover; /* Ensures the image covers the header area */
  object-position: center;
  display: block;
   
}



.headerContainer{
  overflow: hidden;
  height: 100vh;
  position:relative ;
}


.navbar{
  visibility: hidden;
  background-color: rgba(24, 23, 31, .95);
    
}
.competencesContainer {
  gap: 20px;
}

.parallaxBody{
  width: 100%;
  height: 270vh;
  margin: 0;
}

.footer{
  background-color: #242331;
  border-top: 0.5px solid #676767;
  height: 100px;
}

.skillsText > p{
  height: 100px;
  margin-bottom: 0px;
  padding-top: 10px;
}

      
@media (max-width: 800px) {
  .skillsText h2{
    padding-bottom: 20px;/* Reduce padding on small screens */
    }

  .skillsText a{
    margin-bottom: 150px;
    }

  .skillsText p{
    margin-bottom: 0;
    }

  .parallaxBody{
    height: 550vh;
  }
        
      }

.competence {
  margin: 2px;
  padding: 4px;
  width: auto;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Positioned slightly below */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

.bodyImage{
  background: linear-gradient(180deg, rgba(10,10,10,1) 1%, rgba(0,0,0,0) 30%), /* Black gradient overlay */
  url('../public/assets/background.svg');
  background-attachment: fixed;
  background-size: cover;
}


.animated.visible {
  opacity: 1; /* Fully visible */
  animation: slideIn 1s forwards; /* Slide in animation */
  transform: translateY(20); /* Move to the final position */
}

.project-card {
  background-color: #242331;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px); /* Slightly lifts the card */
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 15px 40px 0 rgba(0, 0, 0, 0.25); /* Adds a stronger shadow */
  background-color: #2f2d41; /* Slightly lightens the background for a glow effect */
}

.project-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1); /* Creates a glowing outline */
  pointer-events: none; /* Ensures it doesn't interfere with interactions */
}


.project-card > img{
  border-radius: 15px 15px 0 0;
}

/* Animation keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.welcomeText {
    
    font-size: 4em;
    color: #fff;
    font-family: "Major Mono Display", serif;
    text-align: bottom;
      
  }

  .welcomeTextDiv {
    width: 100%;
    position: absolute; /* Ensures the div is positioned on top of the image */
   /* Aligns it to the left edge */
    display: flex; /* Enables flexbox for content alignment */
    justify-content: center; /* Centers the content horizontally */
    align-items: flex-end; /* Ensures content starts at the top */
    height: 50%; /* Matches the height of the parent container */
    }

  


@keyframes slideInWithBlur {
    0% {
      opacity: 0; /* Fully transparent */
      filter:blur(10px); 
      transform: translateY(100%); /* Positioned off the page */
    }
    100% {
      opacity: 1; /* Fully visible */
      transform: translateY(0); /* Final position */
    }
  }


@keyframes slideOut {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

@keyframes slideIn {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  